<!DOCTYPE html>
<html>

<head>
  <title>Shazada Philippines</title>
  <link rel="icon" href="/assets/images/icon/logo.ico" type="image/icon type">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html"><img src="
        https://consent.trustarc.com/v2/asset/16:49:57.509iyipn2_Slogonoback.png" class="img-fluid alt=" logo.png"
          width="80" height="24"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/template/men-categories.html">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/template/women-categories.html">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Sign in</a>
          </li>
        </ul>
        <form class="d-flex">
          <i class="fa" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 24px">&#xf07a;</i><span
            id="cart-count" class="badge text-bg-warning"></span>
        </form>
      </div>
    </div>
  </nav>
  <header>
    <div class="container" id="men-women-container"></div>
  </header>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <header>
    <h1 class="categories text-center">CATEGORIES FOR MEN</h1>
  </header>
  <section id="men-gategories">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card-image h-100">
          <a href="/template/minimal-sneakers.html"><img src="https://i.ytimg.com/vi/k_EfKYQGTU8/maxresdefault.jpg"
              class="card-img-top" alt="..."></a>
        </div>
      </div>
      <div class="col">
        <div class="card-image h-100">
          <a href="/template/oxford-shoes.html"><img src="https://i.ytimg.com/vi/qD7oM088gRg/maxresdefault.jpg"
              class="card-img-top" alt="..."></a>
        </div>
      </div>
      <div class="col">
        <div class="card-image h-100">
          <a href="/template/derby-shoes.html"><img src="https://i.ytimg.com/vi/pa-y3sZxLs8/maxresdefault.jpg"
              class="card-img-top" alt="..."></a>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>