html, body {
    max-width: 100%!important; overflow-x: hidden!important
}
.collapse {
    float: right;
}
.fa {
    color:#000;
}
.badge {
    position: relative;
    bottom:25%;
    left:10%;
}
.shoes-parallax {
    width: 30%;
    margin-left: 35%;
    padding-top: 10%;
}
.wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    transform-style: preserve-3d;
    z-index: -1;
    object-fit: cover;
}
.best-seller {
    position: absolute;
    top:113%;
    left:42%;
    transform: translateZ(-5px) scale(1.5);
}
#best-seller-image {
    padding-top: 1%;
}
.backround-image {
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
}
.image-container:hover {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    cursor: pointer;
}
.container {
    margin-top: 15%;
    margin-right: 1%;
    position: relative;
    width: 100%;
}
.container .male-content {
    position: absolute;
    top:50%;
    left:20%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 22px;
    color:#000;
}
.subtitle {
    font-weight: lighter;
    font-size: 16px;
    opacity: 0.7;
}
.subtitle:hover {
    opacity: 1;
}
.container .women-content {
    position: absolute;
    top:50%;
    left:69.5%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.form-control {
    border:0;
}
footer{
    background-color: black;
    height: 200px;
    display: flex;
}
.gmap {
    position: absolute;
    right: 5%;
    bottom:5%;
}
@media (max-width:1280px){
    .best-seller {
        padding-top: 40%;
    }
    #best-seller-image {
        padding-top: 1%;
    }
    .container .male-content {
        position: absolute;
        top:50%;
        left:23%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .container .women-content {
        position: absolute;
        top:50%;
        left:72.9%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .best-seller {
        position: absolute;
        top:13%;
        left:42%;
        transform: translateZ(-5px) scale(1.5);
    }
    .gmap {
        position: absolute;
        right: 1%;
        bottom:5%;
        height: 99%;
        width: 45%;
    }
}
@media (max-width:768px){
    .container .male-content {
        position: absolute;
        top:25%;
        left:35%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .container .women-content.backround-image {
        position: absolute;
        top:75%;
        left:34.5%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .image-container:hover {
        transform: scale(1);
    }
    .best-seller {
        position: absolute;
        top:35%;
        left:42%;
        transform: translateZ(-5px) scale(1.5);
    }
    #best-seller-image {
        margin-top: 20%;
    }
}
@media (max-width:770px){
    .container .male-content {
        position: absolute;
        top:25%;
        left:35%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .container .women-content {
        position: absolute;
        top:75%;
        left:34.5%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .image-container:hover {
        transform: scale(1);
    }
    .shoes-parallax {
        display: none;
    }
    .gmap {
        display: none;
    }
}
@media (max-width:375px){
    .best-seller {
        padding-top: 52%;
    }
    #best-seller-image {
        padding-top: 2%;
    }
    .container .male-content {
        position: absolute;
        top:25%;
        left:20%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .container .women-content {
        position: absolute;
        top:75%;
        left:20%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .image-container:hover {
        transform: scale(1);
    }
    .shoes-parallax {
        display: none;
    }
    .mb-3 {
        min-width: 100%;
    }
    .best-seller {
        position: absolute;
        top:50%;
        left:30%;
        transform: translateZ(-5px) scale(1.5);
    }
    .gmap {
        display: none;
    }
}