.collapse {
    float: right;
}
.backround-image {
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
}
img:hover {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    cursor: pointer;
}
.container {
    margin-top: 15%;
    margin-right: 1%;
}
.title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 22px;
    color: #4a4a4a;
    
}
.subtitle {
    font-weight: lighter;
    font-size: 16px;
    
}

footer{
    height: 100%;
    width: 100%;
}






























/* 
.shoes {
    height: 300px;
    width: 300px;
}

nav {
    height: 300px;
    width: 15%;
    float: left;
    background-color: orange;
}

section {
    text-align: center;
    width: 70%;
    float: left;
}

article {
    height: 300px;
    width: 15%;
    float: left;
    background-color: orange;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: orangered;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

footer {
    text-align: center;
} */