.collapse {
    float: right;
}
.backround-image {
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
}
img:hover {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    cursor: pointer;
}
.container {
    margin-top: 15%;
    margin-right: 1%;
    position: relative;
    width: 100%;
}
.container .male-content {
    position: absolute;
    top:50%;
    left:20%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 22px;
    color:#000;
}
.subtitle {
    font-weight: lighter;
    font-size: 16px;
    opacity: 0.7;
}
.subtitle:hover {
    opacity: 1;
}
.container .women-content {
    position: absolute;
    top:50%;
    left:69.5%;
    transform: translate(-50%, -50%);
    text-align: center;
}
footer{
    background-color: black;
    height: 200px;
    display: flex;
}